<div data-role="page" id="dashboardpage" style="background-image: url('../images/inner_bg_750×1334.png'); background-attachment: fixed; background-repeat: no-repeat; background-size: 100% 100%;">

    <div data-role="header" data-theme="a" data-position="fixed">
        <a href="../index.html" class="ui-btn-inline ui-btn-corner-all ui-btn-right ui-icon-power quitButton" data-icon="power"></a>
        <h1>DASHBOARD</h1>
    </div>


    <div role="main" class="ui-content">

        <!--<div class="ui-grid-a">-->
            <!--<div class="ui-block-a back-layout-1">-->
                <!---->
            <!--</div>-->
            <!--<div class="ui-block-b back-layout-2">-->
            <!--</div>-->
            <!--<div class="ui-block-a back-layout-3">-->
            <!--</div>-->
            <!--<div class="ui-block-b back-layout-1">-->
            <!--</div>-->
        <!--</div>&lt;!&ndash; /grid-a &ndash;&gt;-->

        <div class="round-button" style="margin-top: 45px;margin-left:85px;">
            <a href="../views/myincident.html" data-transition="slide">
                <img src="../images/my_incidents_button.png"  />
            </a>
        </div>

        <div class="round-button" style="margin-top: 65px; margin-left:85px">
            <a href="../views/behaviour.html" data-transition="slide">
                <img src="../images/my_safety_button.png"  />
            </a>
        </div>
        <!--<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow mc-text-wrap">-->
            <!--<li class="ui-li-has-thumb ui-first-child"><a href="../views/myincident.html" data-transition="slide" class="ui-btn ui-btn-icon-right ui-icon-carat-r">-->
                <!--<img src="../images/incident_logo.png">-->
                <!--<h2>My Incidents</h2>-->
                <!--</a>-->
            <!--</li>-->
            <!--&lt;!&ndash;<li class="ui-li-has-thumb ui-last-child"><a href="#" data-transition="slide" class="ui-btn ui-btn-icon-right ui-icon-carat-r">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="../images/investigation_logo.png">&ndash;&gt;-->
                <!--&lt;!&ndash;<h2>My Investigations and Corrective Actions</h2>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
            <!--<li class="ui-li-has-thumb ui-last-child"><a href="../views/behaviour.html" data-transition="slide" class="ui-btn ui-btn-icon-right ui-icon-carat-r">-->
                <!--<img src="../images/behaviour-logo.png">-->
                <!--<h2>My Behaviour Based Safety</h2>-->
                <!--</a>-->
            <!--</li>-->
            <!--&lt;!&ndash;<li class="ui-li-has-thumb ui-last-child"><a href="#" data-transition="slide" class="ui-btn ui-btn-icon-right ui-icon-carat-r">&ndash;&gt;-->
                <!--&lt;!&ndash;<img src="../images/reports_logo.png">&ndash;&gt;-->
                <!--&lt;!&ndash;<h2>My Reports</h2>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--</ul>-->

    </div>

    <!--<div data-role="footer" data-position="fixed" style="overflow: hidden" data-theme="c" >-->

    <!--</div>-->

</div>

