<div data-role="page" id="incident_details" data-theme="a">

    <div data-role="header" data-theme="a"  data-position="fixed">
        <a href="myincident.html" class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all ui-btn-active" data-role="button" role="button">Back</a>
        <h1>Incident Details</h1>
        <!--<a href="dashboard.html" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-left ui-btn-icon-left ui-icon-carat-l">Back</a>-->
    </div><!-- /header -->

    <div role="main" class="ui-content">

<ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
    <div data-role="fieldcontain">
        <label1 for="select-choice-custom3" class="select ui-select">Incident Location</label1>
        <br></br>
        <label2 for="name2" class="ui-input-text">2100 Denver, CO 80211</label1>
</ul>

    </div>


</div>