<div data-role="page" id="incident_details_HSX123" data-theme="a">

    <div data-role="header" data-theme="a"  data-position="fixed">
        <a href="myincident.html" class="ui-btn-left ui-alt-icon ui-nodisc-icon ui-btn ui-icon-carat-l ui-btn-icon-notext ui-corner-all ui-btn-active" data-role="button" role="button">Back</a>
        <h1>Incident ID HSX123</h1>
        <!--<a href="dashboard.html" class="ui-btn ui-corner-all ui-btn-inline ui-mini footer-button-left ui-btn-icon-left ui-icon-carat-l">Back</a>-->
    </div><!-- /header -->

    <div role="main" class="ui-content">

<ul data-role="listview" class="ui-listview">
	<div data-role="fieldcontain">
	<li><label1>&nbsp;Incident Location</label1></li>
	<li><label2>&nbsp;2100 Denver, CO 80211</label2></li>
	</div>
	<div data-role="fieldcontain">
		<li><label1>&nbsp; Work Area</label1></li>
		<li><label2>&nbsp; Assembly Line</label2></li>
	</div>
	<div data-role="fieldcontain">
		<li><label1>&nbsp;Incident Date and Time</label1></li>
		<li><label2>&nbsp; Apr 8, 2015</label2></li>
	</div>
    <div data-role="fieldcontain">
		<li><label1>&nbsp;Activity Before</label1></li>
		<li><label2>&nbsp;Engine mounting</label2></li>
	</div>
	<div data-role="fieldcontain">
		<li><label1>&nbsp;Incident Type</label1></li>
		<li><label2>&nbsp; Loss Time Injury</label2></li>
	</div>
	<div data-role="fieldcontain">
		<li><label1>&nbsp;Description</label1></li>
		<li><label2>&nbsp;Employee was mounting engine to the vehicle when it started shaking due to faulty mount. The employee had a strong blow and fell down hurting his knee.</label2></li>
	</div>
	<div data-role="fieldcontain">
		<li><label1>&nbsp;Incident Classification</label1></li>
		<li><label2>&nbsp; Injury</label2></li>
	</div>
	<div data-role="fieldcontain">
		<li><label1>&nbsp;Severity</label1></li>
		<li><label2>&nbsp; One Day Off Work</label2></li>
	</div>
	<div data-role="fieldcontain">
		<li><label1>&nbsp;Exposure Frequency</label1></li>
		<li><label2>&nbsp; Once/Month</label2></li>
	</div>
	<div data-role="fieldcontain">
		<li><label1>&nbsp;Likeness of Future Occurrence</label1></li>
		<li><label2>&nbsp; Conceivable but very unlikely</label2></li>
	</div>
	<div data-role="fieldcontain">
		<li><label1>&nbsp;Risk Priority Number (RPN)</label1></li>
		<li><label2>&nbsp; 0.000011</label2></li>
	</div>
</ul>

    </div>


</div>

